{% extends '@EasyAdmin/crud/form_theme.html.twig' %}

{# 项目图集：卡片式布局 + 明确的「删除图片」按钮 #}
{% block collection_entry_row %}
    {% set collectionForm = form_parent(form) %}
    {% if collectionForm.vars.name == 'images' %}
        {% set allows_deleting_items = collectionForm.vars.allow_delete|default(false) %}
        {% set to_string_method = collectionForm.vars.ea_vars.field.customOptions.get('entryToStringMethod') ?? null %}
        <div class="field-collection-item field-collection-item-complex project-image-entry {{ not form.vars.valid ? 'is-invalid' }}">
            <div class="project-image-entry-header">
                <span class="project-image-entry-title">{{ value|ea_as_string(to_string_method) }}</span>
                {% if allows_deleting_items and not collectionForm.vars.disabled %}
                    <button type="button"
                            class="btn btn-sm btn-outline-danger field-collection-delete-button"
                            title="从图集中移除此图片">
                        <i class="fa fa-trash"></i> 删除图片
                    </button>
                {% endif %}
            </div>
            <div class="project-image-entry-body">
                {{ form_widget(form) }}
            </div>
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block collection_widget %}
    {% if form.vars.name == 'images' %}
        {% set isEmptyCollection = value is null or (value is iterable and value is empty) %}
        <div class="ea-form-collection-items project-image-collection">
            {% if isEmptyCollection %}
                {{ block('empty_collection') }}
            {% else %}
                {{ block('form_widget') }}
            {% endif %}
        </div>
        {% if isEmptyCollection or form.vars.prototype is defined %}
            {% set attr = attr|merge({'data-empty-collection': block('empty_collection')}) %}
        {% endif %}
        {% if allow_add|default(false) and not disabled %}
            <button type="button" class="btn btn-link field-collection-add-button">
                <twig:ea:Icon name="internal:plus" class="pr-1" />
                {{ 'action.add_new_item'|trans({}, 'EasyAdminBundle') }}
            </button>
        {% endif %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
