{# @var project App\Entity\Project #}
<div class="project-slide-panel position-relative">
    <img src="{{ imageSrc }}"
         class="project-slide-image__img"
         alt="{{ imageAlt }}">
    <div class="project-slide-overlay">
        <h5 class="project-slide-overlay__title mb-0">
            {% if detailUrl is defined and detailUrl %}
                <a href="{{ detailUrl }}" class="text-white text-decoration-none">{{ project.projectName }}</a>
            {% else %}
                {{ project.projectName }}
            {% endif %}
        </h5>
        {% include 'admin/project/_project_info_panel.html.twig' with {project: project, layout: 'overlay'} %}
    </div>
</div>
